.Facilities {
    width: 100%;
    margin: 15px auto;
}

.SectionName {
    text-align: center;
    width: 100%;
    margin: 15px auto;
    font-size: 46px;
    text-transform: Capitalize;
}

.Objects {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
}

.Loading {
    font-size: 50px;
    margin-top: 30px;
}


@media screen and (min-width: 728px) {
    .Objects {
        flex-direction: row;
        margin: 30px 15px;
    }
}