.Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    font-size: 20px;
}


.Register div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.Register h2 {
    font-size: 46px;
    margin: 110px 30px 20px;

}

.Message {
    margin: 30px 0;
    font-size: 28px;
}


.Login form button {
    margin: 20px auto 0;
    background-color: #222;
    color: orange;
    width: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.SignIn {
    margin-top: 100px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition-property: font-size;
    transition-duration: 0.9s;

}

.SignIn:hover {
    border-bottom: 2px solid #888;
    color: #888;
    font-size: 23px;

}